.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button {
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.combo-box-base {
    -fx-text-base-color: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box-base:hover {
    -fx-background-color: #3a3a3a;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
}
